* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100vh;
  max-width: 100vw;
  font-size: 62.5%;
  background-color: rgba(7, 56, 40, 0.952);
  color: white;
  font-family: "Press Start 2P", cursive;
}
body {
  position: relative;
}
.header-style {
  text-align: center;
  padding: 1rem;
  font-size: 2.2rem;
  margin-bottom: 5%;
}

.p-warrant {
  padding-top: 1.5rem;
}
.text-section {
  text-align: center;
  padding: 2rem;
  background-color: gray;
  max-width: 80%;
  margin-left: 10%;
  margin-bottom: 2rem;
  font-size: 2.2rem;
  line-height: 1.5;
  border-radius: 5px;
}
.section-style {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1.7rem;
  max-width: 80%;
  min-width: 70%;
  height: 60%;
  margin-left: 10%;
  border: solid 2px whitesmoke;
  border-radius: 5px;
}
.btn-style {
  width: 42%;
  padding: 0.8rem;
  border-radius: 600px;
  margin: 3%;
  height: 5rem;
  background-color: rgb(166, 168, 14);
  color: whitesmoke;
  font-size: 1.6rem;
  border: transparent;
  font-family: "Press Start 2P", cursive;
}
.btn-style:hover {
  color: rgb(166, 168, 14);
  background-color: whitesmoke;
}
.warrant {
  background-color: mediumvioletred;
}

.a-style {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding-top: 1.5rem;
}
.section2-style {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  margin-top: 2%;
  font-size: 1.3rem;
}
.p-style {
  margin-bottom: 1rem;
}
input {
  margin-bottom: 0.7rem;
}

/* Modal */

.modal {
  text-align: center;
  padding: 3rem;
  background-color: gray;
  margin-bottom: 2rem;
  font-size: 2.2rem;
  line-height: 1.5;
  border-radius: 5px;
  position: absolute;
  height: auto;
  width: 80%;
  margin-left: 10%;
}

.changeBackground {
  background-color: rgb(172, 19, 19);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.ul-style {
  font-size: 1.5rem;
  margin-top: 2rem;
  list-style: none;
}
.li-style {
  font-size: 1rem;
}
.hidden {
  display: none;
}

.warrantBtn {
  padding: 0.5rem;
  border-radius: 10px;
  border: transparent;
  color: whitesmoke;
  background-color: mediumvioletred;
  margin-bottom: 0.5rem;
}
.warrantBtn:hover {
  background-color: whitesmoke;
  color: mediumvioletred;
}
.close {
  margin-top: 7%;
  background-color: rgb(166, 168, 14);
  width: 50vw;
}

@media (max-width: 798px) {
  html {
    font-size: 53.5%;
  }
  .btn-style {
    font-size: 1.6rem;
  }
  .section2-style {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-top: 2%;
    font-size: 1.3rem;
    width: 90vw;
    margin-left: 5vw;
  }
  .list-div {
    width: 35vw;
    margin: 1em;
  }
}
